.*.yml
.luarc.json

temp/

tmux/plugins
!./tmux/plugins/tpm

fish/fish_variables*
fish/themes
fish/completions
fish/functions
fish/conf.d

zellij/layouts/*.local.kdl

alacritty/.os.yml
alacritty/.theme.yml
