theme = "gruvbox_dark_hard"

[editor]
bufferline = "always"
line-number = "relative"
mouse = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[keys.normal]
C-x = ":append-output xplr -C ~/.config/xplr/config.lua"


[keys.insert]
j = { k = "normal_mode" }