@define-color foreground #ffffff;
@define-color background transparent;

* {
    background-color: @background;
    color: @foreground;

    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: 'Overpass Mono';
    font-size: 10px;
    font-weight: 800;
}

menu {
    background-color: #1e1e2e;
    border: 1px solid #ffffff; 
    border-radius: 8px;
}

.modules-left {
    margin-top: 12px;
    margin-left: 8px;
}

#workspaces {
    margin-top: 16px;
}

#workspaces button {
    all: initial;
    margin: 4px 0px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#cpu,
#tray, 
#battery,
#bluetooth,
#network,
#pulseaudio {
    min-width: 12px;
    margin: 4px 0;
    font-size: 16px;
}

#clock {
    margin-bottom: 16px;
}

