@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;
@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color txt             #e0def4;
@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;
@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

* {
    font-family: FontAwesome, Geist;
    font-weight: 600;
    font-size: 12px;
    color: @text;
}

window#waybar {
    background-color: transparent;
}

.module {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    padding: 0px 10px;
}

#workspaces {
    background: @overlay; 
}

#clock {
    margin-right: 10px;
    background: @muted;
}

#pulseaudio {
    padding-right: 20px;
    background: @subtle; 
}

#tray {
    background: @pine; 
}
