@import ".config/wofi/.theme.css";

window {
    font-family: SF Pro;
    background-color: transparent;
}

#input {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    color: @foreground;
}

#outer-box {
    background-color: @background;
    color: @foreground;
    border-radius: 20px;
    padding: 10px;
}

#img{
    margin-right: 15px;
}

#entry {
    padding: 10px;
    border-radius: 20px;
}

#entry:selected {
    background-color: @background;
    color: @foreground;
}

#text:selected {
    color: @foreground;
}
