@import ".theme.css";

window {
    opacity: 0.98;
    font-family: SF Pro;
    background-color: @background 
    color: @foreground;
}

#input {
    padding: 10px 20px;
    border: none;
    color: @foreground;
    background-color: transparent;
}

#outer-box {
    padding: 10px;
}

#img{
    margin-right: 20px;
}

#entry {
    padding: 15px;
}
